* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Alte Haas";
  src: url(../alte_haas_grotesk/AlteHaasGroteskBold.ttf) format("ttf");
  src: url(../alte_haas_grotesk/AlteHaasGroteskRegular.ttf) format("ttf");
}
@font-face {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  src: url(../Impact-Font/impact.ttf) format("ttf");
}
nav {
  color: #222222;
  border: 2px solid #E0E0E0;
  background-color: white;
  box-shadow: 2px 2px 5px #FDA600;
  border-radius: 30px;
  font-size: 1.5rem;
  font-family: Impact;
}
nav ul li a {
  color: #F6A608;
  text-decoration: none;
}

body {
  background-color: #F6A608;
}

header {
  padding: 1em 0;
  width: 100%;
}
header img {
  height: 10vh;
}

.home-page {
  display: flex;
  gap: 0.5em;
}

img {
  border-radius: 5px;
}

.section__cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Alte Haas";
}
.section__cta h1 {
  font-size: 4rem;
}
.section__cta h3 {
  font-size: 2rem;
}
.section__cta button {
  width: 100%;
}
.section__cta button a {
  text-decoration: none;
  color: #222222;
  font-size: 1.5rem;
}

ul a {
  color: #F6A608;
  text-decoration: none;
  font-size: 1.5rem;
}

.login {
  font-size: 1.5em;
  background-color: #F6A608;
}
.login input {
  margin: 0.5em 0;
  font-size: 1em;
  padding: 0.5em;
  border: none;
  border-radius: 5px;
  width: 100%;
}
.login input:focus {
  outline: none;
}

.checkbox {
  display: flex;
  align-items: baseline;
}
.checkbox input {
  width: 10%;
}

.login__flex {
  display: flex;
  justify-content: center;
}

.login-container {
  width: 40%;
}

.register__form {
  font-size: 1.5rem;
}
.register__form label {
  display: block;
}

button {
  display: block;
  margin: 1em auto;
  width: 30%;
  padding: 0.5em;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 1px 3px grey;
  background-color: #F6A608;
}
button a {
  color: black;
}

.jsstyle {
  color: red;
}

.password__reset {
  text-align: center;
}

.tabs {
  list-style: none;
  position: relative;
  margin: 80px 0 0 10px;
}

.tabs li {
  display: block;
  color: black;
}

.tabs input[type=radio] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.tabs label {
  display: block;
  padding: 14px 21px;
  border-radius: 2px 2px 0 0;
  font-size: 1rem;
  background: #F6A608;
  position: relative;
  top: 4px;
  transition: all 0.2s ease-in-out;
}

.label_register {
  cursor: pointer;
}

.tabs .label_register:hover {
  background: white;
}

.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 17px;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
  background: #F6A608;
  border: 1px solid black;
}

.tabs [id^=tab]:checked + label {
  top: 0;
  padding-top: 17px;
}

.tabs [id^=tab]:checked ~ [id^=tab-content] {
  display: block;
}

.contact {
  background-color: #FDA600;
}

.about {
  background-color: #FDA600;
  line-height: 1.5;
}
.about__info {
  padding: 1.5em;
  border-radius: 5px;
  font-size: 1em;
  box-shadow: 2px 2px 5px black;
}
.about__info ul {
  list-style-type: none;
}
.about__info ul li {
  padding-left: 2em;
  background: url("../images/bullet.png") no-repeat left center/30px;
}

.yellow-bg {
  background-color: #FDA600;
}

.about-main {
  display: flex;
  padding: 1.5em;
}
.about-main h2 {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */