@use "../sass/base";

.about {
    background-color: #FDA600;
    line-height: 1.5;

    &__info {
        padding: 1.5em;
        border-radius: 5px;
        font-size: 1em;
        // border: 1px solid black;
        box-shadow: 2px 2px 5px black;
        ul{
            list-style-type: none;
            li{
                padding-left:2em ;
                background: url("../images/bullet.png") no-repeat left center/30px;
            }
        }
    }
}

.yellow-bg {
    background-color: #FDA600;
}

.about-main {
    display: flex;
    padding: 1.5em;
    h2 {
        text-decoration: underline;
    }
}