@use "../sass/base";

.contact{
    background-color: #FDA600;
   &__form{
        width: 70%;
        padding:1em;
        background-color: white;
        label{
            display: block;
        }
        input{
            padding: .5em;
            width:100%;
            font-size: 1rem;
        }
        input:focus{
            outline:none;
        }
        textarea{
            width:100%;
        }
        textarea:focus{
            outline:none;
        }
    }
    &__message{
        background-color: white;
        padding:.5em;
    }
    &__items{
        margin-top: 2em;
        justify-content: space-around;
        padding:1em;
    }
}
// .contact__form{
//     width: 70%;
//     padding:1em;
//     background-color: white;
//     label{
//         display: block;
//     }
//     input{
//         padding: .5em;
//         width:100%;
//         font-size: 1rem;
//     }
//     input:focus{
//         outline:none;
//     }
//     textarea{
//         width:100%;
//     }
//     textarea:focus{
//         outline:none;
//     }
// }
@media (max-width:436px){
    .contact{
        flex-direction: column;
        &__form{
            width: 100%;
        }
        &__items{
            flex-direction: column;
        }
    }
    nav{
        flex-direction: column;
      }
}